[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "actiRhythm"]
	path = actiRhythm
	url = https://github.com/rdazadda/actirhythm
[submodule "bayesqm"]
	path = bayesqm
	url = https://github.com/rdazadda/bayesqm
